/* index-new */
:root 
  accent-color: #FD7F28

  /* variable colors */
  --Light_gray: #EDEDF0
  --Main_orange: #FD7F28
  --Main_orange_dark: #ac591e
  --Main_black: #272727
  --Main_black_opacity: #27272778
  --Light_Bg: #f9f9f9
  --Main_color: #fff
  --Main_red: #e51111
  --Main_red_opacity: #e5111158
  --Gradient-orange: linear-gradient(0deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 100%), #FD7F28
  /* fonts */
  --fonts-quicksand: 'Quicksand', sans-serif

.default-styles
  font-family: var(--fonts-quicksand)
  font-size: 14px
  font-weight: normal
  background: var(--Light_Bg)
  a
    font-weight: normal
    color: inherit
    text-decoration: none
    -webkit-transition: all 0.3s ease-in-out
    -moz-transition: all 0.3s ease-in-out
    cursor: pointer
    &:hover
      color: var(--Main_orange)
      transition: all 0.3s ease-in-out
      -webkit-transition: all 0.3s ease-in-out
      -moz-transition: all 0.3s ease-in-out

  img
    max-width: 100%
    height: auto
    display: block
    margin: auto

  h1
    font-size: 32px
    font-family: var(--fonts-quicksand)
    font-style: normal
    font-weight: 700
    line-height: normal
    text-transform: initial!important
    margin: 0!important
      
  h2
    font-size: 32px
    font-family: var(--fonts-quicksand)
    font-style: normal
    font-weight: 700
    line-height: normal
    text-transform: initial!important
    margin: 0!important

  h3
    font-family: var(--fonts-quicksand)
    font-size: 16px
    font-style: normal
    font-weight: 700
    line-height: normal 
    text-transform: initial!important
    margin: 0!important

  h4
    font-family: var(--fonts-quicksand)
    font-size: 16px
    font-style: normal
    font-weight: 500 !important
    line-height: normal
    text-transform: initial !important
    margin: 0 !important

  h5
    font-family: var(--fonts-quicksand)
    font-size: 16px !important
    font-style: normal
    font-weight: 500
    line-height: normal !important
    margin: 0 !important

  h6
    font-family: var(--fonts-quicksand)
    font-size: 14px
    font-style: normal
    font-weight: 500
    line-height: normal
    text-transform: initial !important
    margin: 0 !important

  p
    font-family: var(--fonts-quicksand)
    font-size: 14px
    font-style: normal
    font-weight: 400
    line-height: normal !important

  ul
    padding: 0  
    margin: 0

  ul li::before
    display: none  

  section
    background: var(--Main_color)
  
  .link_contact
    a
      color: var(--Main_black)
      font-family: Quicksand
      font-size: 14px
      font-style: normal
      font-weight: 500
      line-height: normal

  .flex
    display: flex
      
  .img
    width: 100%
    height: fit-content !important

  .orange-text
    color: var(--Main_orange)

  .bold-text
    font-weight: 700

  .title
    padding-top: 50px  
    
  .btn-wrapper
    display: block
    margin: 0 auto

    button
      width: fit-content

  .btn-default
    color: var(--White, #FFF)
    text-align: center
    font-family: var(--fonts-quicksand)
    font-size: 12px
    font-style: normal
    font-weight: 600
    line-height: normal
    letter-spacing: 0.36px
    text-transform: uppercase
    padding: 14px 24px
    border-radius: 8px
    background: var(--Main_orange)
    animation-duration: 1.5s
    animation-delay: .5s

  .social_wrapper
    flex-basis: 15%
    display: flex
    align-items: center
    justify-content: flex-end
    gap: 8px

  .social_wrapper li::before
    display: none

  .social_wrapper a     
    width: 24px
    height: 24px
    background: var(--Main_orange)
    display: block
    margin: auto
    position: relative
    border-radius: 10px
    transition: .3s easy

  .social_wrapper
    transition: .3s 
    a:hover
      transition: .3s
      background: var(--Main_orange_dark)

  .social_wrapper svg
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)

  .contacts_wrapper
    a
      transition: .3s 
      svg
        transition: .3s
    a:hover
      svg
        path
          transition: .3s
          fill: var(--Main_orange_dark)

  /* header */
.header
  padding: 15px 42px !important
  background-color: var(--Light_gray)

  a 
    text-decoration: none
    font-weight: normal
    
  .header_navbar
    display: flex
    align-items: center
    max-width: 1200px
    margin: 0 auto

    .logo
      flex: 1 1 auto  

    .logo_wrapper
      display: flex
      gap: 24px
      align-items: center
      font-size: 12px
      text-align: left

    .logo-img
      max-width: 100px
      max-height: 94px
      width: 100%
      height: 100%

    .contacts_wrapper
      flex: 0 0 45%
      display: flex
      align-items: center
      gap: 42px
      font-weight: 500 !important
      font-size: 14px

    .contacts_wrapper a
      display: flex
      align-items: center
      gap: 10px

    .contacts_wrapper a:first-child
      padding-bottom: 8px       

    .phone-header
      margin: 0 !important

    .adress-header
      display: flex
      flex-direction: column

    .location_header
      font-weight: 200 !important
      font-size: 14px
/* nav */
.nav-menu
  font-size: 14px
  font-style: normal
  font-weight: 700
  line-height: normal
  background: var(--Main_orange)


  .nav-menu__links
   display: flex
   gap: 1.16%
   align-items: center
   height: 100%
   padding: 16px 42px
   justify-content: center

   a
    font-family: var(--fonts-quicksand)
    font-size: 14px
    color: var(--Light_gray) 
    transition: all 0.3s 
    -webkit-transition: all 0.3s ease-in-out
    -moz-transition: all 0.3s ease-in-out
    cursor: pointer
    
  a:hover
      color: var(--Main_black) 
      transition: all 0.3s 
      -webkit-transition: all 0.3s ease-in-out
      -moz-transition: all 0.3s ease-in-out

//section-banner
.banner
  .banner_wrapper
    display: flex

  .banner_img
    flex: 0 1 50%

    img
      height: 100%
      width: 100%
      object-fit: cover

  .banner_contant
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    flex: 0 1 50%
    background: var(--Main_black)
    color: var(--Light_gray)
    padding: 30px 0

    h2
      padding-bottom: 12px

    h3   
      padding-bottom: 32px

    &_wrapper
      display: flex
      flex-direction: column
      padding: 8px 42px
      justify-content: center
      align-items: flex-start
      gap: 24px
      align-self: stretch

      ul
        display: flex
        gap: 14px

        li

          p
            text-align: left
            font-size: 14px
            color: var(--Light_gray)
        

    .btn-wrapper
        margin: 24px 0 30px

  .circle_done
    .circle_overline
      background: orange
      border-radius: 50%
      display: flex
      border: 2px solid white
//section-services
.services
  
  .services_wrapper
    display: flex
    padding: 42px 42px 0

  .services_content  
    flex: 1 1 50%
    display: flex
    flex-direction: column
    align-items: start
    gap: 24px
    margin: 30px

    ul

      li
        --fonts-quicksand: "Quicksand", sans-serif
        font-size: 14px
        font-style: normal
        font-weight: 400
        line-height: normal
        list-style: disc
        text-align: start
        padding-bottom: 10px

    p
      text-align: left
      color: var(--Main_black)

  .services_img
    flex: 0 1 50%
//section-benefits
.benefits
  padding-bottom: 50px

  .benefits_list
    display: flex
    gap: 24px
    margin: 36px 0px 36px 36px

    li
      flex: 0 0 18%
      display: flex
      flex-direction: column
      text-align: left
      gap: 22px
      justify-content: flex-start
      align-items: center
      padding: 10px
      background: var(--Light_Bg)
      border-radius: 8px
    
      .img
        height: fit-content !important

      h6 
        margin: 20px
        padding-bottom: 10px

      p
        font-size: 14px
        color: var(--Main_black)
//section-calc
.calculate
  padding-bottom: 50px
  background: var(--Light_Bg)
  h2
    padding-bottom: 24px

  .calculate_wrapper
    background: var(--Main_color)
    padding: 24px 12px
    border-radius: 24px
    width: 85%
    margin: 24px auto

    .calc-row
      display: flex
      background: var(--Light_Bg)
      border-radius: 24px
      padding: 0 24px
      margin-bottom: 12px
      align-items: center

      h5
        width: 50%
        font-size: 13px
        text-transform: initial
        margin: 0
        text-align: left

      .calc-range
        width: 50%
        padding: 0 20px 12px
        cursor: pointer

        .irs-grid-pol 
          display: none
        .irs-grid-text
          color: var(--Main_orange)
        .irs-max,
        .irs-min
          display: none
        .irs-single
          color: var(--Main_black)
          background: var(--Main_orange)
          padding: 3px 10px
          border-radius: 10px
          position: relative
          width: 40px
          height: 20px
          top: -8px
          cursor: pointer

          &::after
            content: '▼'
            position: absolute
            left: 50%
            transform: translate(-50%)
            bottom: -13px
            color: var(--Main_orange)

        .irs-line
          background: var(--Gradient-orange)
          border: none
        .irs-handle
          display: none
        .irs-bar
          border: none
          background: var(--Main_orange)
        .irs-grid 
          bottom: 5px

    .calc_checkbox
      display: flex
      align-items: center
      padding: 12px 20px 24px
      gap: 5px
      border-bottom: 1px solid var(--Light_gray)

      input
        background: var(--Light_Bg)
        margin: 0
        cursor: pointer

      input:checked
        background: var(--Main_orange)
        color: var(--Main_color)
        cursor: pointer

      label
        margin: 0
        padding-right: 14px
        font-size: 12px
        font-weight: 700

    .summa_wrapper
      display: flex
      gap: 12px
      padding: 24px 24px 0 24px
      font-size: 16px

      .sum
        color: var(--Main_black)
  .btn-wrapper
    width: fit-content
    .btn-default
      font-size: 12px
      font-weight: 400
      animation-duration: 1.5s
      animation-delay: .5s
      transition: all 0.3s ease-in-out
      -webkit-transition: all 0.3s ease-in-out
      -moz-transition: all 0.3s ease-in-out
      cursor: pointer
      &:hover
        transition: all 0.3s ease-in-out
        -webkit-transition: all 0.3s ease-in-out
        -moz-transition: all 0.3s ease-in-out
    
  //section-conditions

  .conditions 

  padding-bottom: 50px

  h2
    padding-bottom: 36px

  .conditions_wrapper
    display: flex
    gap: 24px

    .conditions_wrapper_img
      flex: 0 1 45%
      position: relative

      .emoji_box
        display: flex
        justify-content: space-around

        
    .conditions_wrapper_content
      flex: 1 0 45%
      display: flex
      flex-direction: column
      gap: 24px
      text-align: left

      p
        font-size: 14px
    
    .btn-wrapper
      margin: auto 0

  //section-conditions
//section-cooperation
.cooperation
  padding-bottom: 50px
  
  ul
    display: flex
    justify-content: space-around
    padding: 42px 42px 0
    li
      p
        font-size: 14px
        padding-top: 24px
      .cooperation_arrow
        width: 50px
        height: 50px

    li:nth-child(even)
      display: flex
      align-items: center

    li:nth-child(odd)
      padding: 24px
      background: var(--Light_Bg)
      border-radius: 8px

  .btn-wrapper
    display: none  
//section-expensive
.more_expensive
  background: var(--Light_Bg)
  h2
    padding-bottom: 36px
  
  p
    max-width: 712px
    width: 100%
    margin: 0 auto
    text-align: justify

  .more_expensive_btn
    margin: 50px auto 
    max-width: 712px
    padding: 12px
    border-radius: 8px 
    border: 1px solid var(--Main_color)
    background: var(--Main_color)
    
    h4
      color: var(--Main_orange)
      max-width: 712px
      width: 100%
      text-align: center
      margin: 0 auto !important
      padding-bottom: 24px

    .button_group  
      display: flex
      align-items: center
      justify-content: center
      gap: 26px

  .more_expensive_footer
    width: 100%
    background: var(--Light_gray)
    .more_expensive_footer_wrapper
      display: flex
      padding: 50px 42px

      h2
        flex: 0 0 50%
        padding: 0

      p
        padding: 0
//section-about_us
.about_us
  padding: 50px

  .about_us_wrapper
    display: flex
    align-items: center

    .img
      flex: 0 1 50%
    
    .about_us_content
      flex: 1 0 50%
      display: flex
      flex-direction: column
      gap: 24px
      align-items: start

      h2,
      p,
      span
        text-align: left     
//section-why_we
.why_we
  padding: 50px 42px 30px
  background: var(--Light_Bg)

  .why_we_wrapper
    display: flex

    .why_we_content
      flex: 1 0 50%
      text-align: left
      display: flex
      flex-direction: column
      gap: 14px

    .img
      flex: 0 1 50% 
//section-profit
.profite
  padding-bottom: 50px
  ul
    display: flex
    gap: 24px
    padding: 24px 0
    li
      flex: 1 1 20%
      justify-content: center
      align-items: center
      background: var(--Light_Bg)
      border-radius: 8px
      padding: 22px
      img
        padding-bottom: 22px
      p
        font-size: 14px  
//section-issues
.issues
  padding-bottom: 50px

  h2
    padding-bottom: 25px

  .issues_wrapper
    display: flex
    gap: 24px

    ul
      flex: 0 1 50%
      display: flex
      flex-direction: column
      gap: 12px

    li
      display: grid
      grid-template-columns: 30px 1fr
      justify-items: start
      align-items: center
      padding: 12px
      height: fit-content
      text-align: left
      border: 1px solid var(--Light_gray)
      padding: 12px
      border-radius: 8px
      background: var(--Light_Bg)
      cursor: pointer
      transition: .5s
    
      &:hover
        background: var(--Main_color)
        transition: .5s easy

      .img_wrapper
        position: relative
        width: 100%
        height: 100%

      .img_wrapper::after
        line-height: 18px
        position: absolute
        content: "+"
        font-size: 24px
        padding: 0 2px 2px
        color: var(--Main_black)
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

      .img_wrapper::before
        width: 25px
        height: 25px
        position: absolute
        content: ""
        color: var(--Main_black)
        border: 2px solid var(--Main_black)
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        border-radius: 3px


      p
        font-size: 14px
        padding-top: 10px

      .accordeon
         margin-left: 12px

      .accordeon_hide_elem
        grid-column: 2
        grid-row: 2
        text-align: left
        margin-left: 12px
        cursor: pointer
        max-height: 0
        overflow: hidden
        transition: max-height .2s linear
      
      &.active 
        .img_wrapper::after
            position: absolute
            content: ""
            width: 10px
            height: 1px
            padding: 0 2px 2px
            background: var(--Main_black)
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
        .accordeon_hide_elem 
          transition: max-height .2s linear
          max-height: 500px
//section-trust_us
.trust_us
  padding-bottom: 50px
  background: var(--Light_Bg)
  
  h2
    padding-bottom: 24px

  .trust_us_content
    display: flex
    flex-direction: column
    gap: 12px
    max-width: 736px
    width: 100%
    margin: 0 auto

    h3
      font-weight: 500
//section-call_me
.call_me
  padding: 50px 0
  .call_wrapper
    max-width: 712px
    margin: 0 auto
// footer
.footer
  background: var(--Light_Bg)
  padding: 0

  .footer_wrapper
    display: flex
    align-items: start
    justify-content: space-evenly
    padding: 48px 42px

    .logo_wrapper
      display: flex
      align-items: start
      gap: 24px
      flex: 0 0 auto

      .logo img
            width: 79px
            height: auto

      .logo_wrapper_naming
        display: flex
        flex-direction: column
        gap: 24px
      
      .social_wrapper
        display: flex
        justify-content: start
        svg
          width: 100%

      
    .menu_wrapper
      display: flex
      flex-direction: column

      h6
        font-size: 14px
        font-style: normal
        font-weight: 700
        line-height: normal
        color: var(--Main_orange)

      a
        font-size: 14px
        font-style: normal
        font-weight: 700
        line-height: normal
        text-transform: initial
        color: var(--Main_black)

      .menu_list
        display: flex
        flex-direction: column
        gap: 4px

    .contact_wrapper
      display: flex
      flex-direction: column

      .flex
        flex-direction: column
      
      a
        display: flex
        align-items: center
        gap: 10px
        margin-bottom: 8px
        font-weight: normal        
        transition: .3s 
        svg
          transition: .3s
      a:hover
        svg
          path
            transition: .3s
            fill: var(--Main_orange_dark)


      .phone-header
        display: flex
        flex-direction: column

    .button_group
      display: flex
      flex-direction: column
      gap: 8px

    .social-for-mobile
      display: none

  .under_footer
    background: var(--Light_gray)

    p
      font-size: 14px
      font-style: normal
      font-weight: 400
      line-height: normal
      padding: 22px 40px
      text-align: center
      color: var(--Main_black)
//burger
.menu_btn
  display: none
  border-radius: 4px
  background: var(--Light_Bg)
  width: 38px
  height: 38px
  padding: 8px
  cursor: pointer

  span
    width: 30px 
    height: 2px 
    background: var(--Main_black)
    display: block
    position: relative

    
  span::before,
  span::after 
    content: ''
    position: absolute
    left: 0
    width: 100%
    height: 2px
    background: var(--Main_black)


  span::before 
    top: -10px 
  
  span::after 
    bottom: -10px

.menu_btn_sidenav
  display: none
  position: fixed
  z-index: 2
  width: 0%
  height: 100%
  top: 0
  right: 0
  align-items: start
  background: var(--Light_Bg)
  padding: 37px 0 0 20px
  transition: .4s ease-out-in
  &.opened
      display: flex
      flex-direction: column
      transition: .4s ease-out-in


  .icon-cancel
    color: var(--Main_black)
    width: fit-content
    font-size: x-large
    display: block
    margin: 0 17px 0 auto
    padding: 0px 8px
    border-radius: 25%
    transition: .3s ease
    cursor: pointer
    &:active
      background: var(--Main_red)
      transition: .3s ease

    &:hover
      background: var(--Main_red_opacity)
      transition: .3s ease
  ul
    text-align: left
    width: 90%
    li
      padding: 10px 10px
    li:not(:last-child)
      border-bottom: 1px solid var(--Light_gray)

      a
        color: var(--Main_black)
        text-align: left
        
.opacity-background
  position: fixed
  width: 100%
  height: 100%
  z-index: 1
  background: var(--Main_black_opacity)
  top: 0
  right: 0
  display: none
    

@media only screen and (max-width: 1350px)
  .header
    display: block
    padding: 0 !important

  .banner
    h1
      padding-bottom: 12px
    img
      object-fit: cover
      width: 100%

@media only screen and (max-width: 1250px)
  .header 
      .header_navbar
        flex-direction: column
        padding: 15px 0 0

        .logo
          display: flex
          width: 100%
          justify-content: space-between
          align-items: center
          padding: 0 15px 15px 15px

          .logo_wrapper
            gap: 0 

          img
            width: 50px !important
            height: 48px

          .menu_btn
            display: flex
            align-items: center
            margin-left: 30px

      .contacts_wrapper
        background: var(--Main_color)
        width: 100%
        padding: 15px
        justify-content: center
        gap: 27px
        a
          font-size: 12px 
        
      .social_wrapper 
        display: none

  .nav-menu
    display: none

  .footer
    padding: 0

    .container
      padding: 0
      margin: 0

    .footer_wrapper
      display: grid
      grid-template-columns: 1fr
      grid-template-areas: "button_group" "logo_wrapper" "menu_wrapper" "contacts" "social-for-mobile"
      justify-content: center
      padding: 0

    .button_group
      grid-area: "button_group"
      margin: 40px 0
      align-items: center

      button
        width: fit-content
      
    .logo_wrapper
      grid-area: logo_wrapper
      align-items: center !important
      background: var(--Light_gray)
      padding: 10px 0
      justify-content: center
      .logo_wrapper_naming
        align-items: center

      .logo
        flex: 0 1 30%

      img
        width: 50%
      

    .menu_wrapper
      grid-area: menu_wrapper

      h6
        opacity: 0

      ul  
        padding: 0 20px 24px
        li
          border-bottom: 1px solid #EDEDF0
        
        li:last-child
          padding-bottom: 18px

    .contact_wrapper
      grid-area: contacts
      background: var(--Light_Bg)
      padding: 10px 0

      .flex
        gap: 25px
        justify-content: center
        flex-direction: row !important

    .social-for-mobile
      display: flex !important
      grid-area: social-for-mobile
      background: var(--Light_gray)
      padding: 30px
      justify-content: center


  .under_footer
    background: var(--Main_black) !important
    p
      color: var(--Light_gray) !important
    
@media only screen and (max-width: 991px)
  .title 
    padding-top: 30px
  .banner

    .banner_wrapper
      flex-direction: column-reverse

    h3
      padding-bottom: 0px !important 

    .banner_contant
      padding: 30px 24px 0 24px

      .banner_contant_wrapper
        padding: 24px 0
  .services

    .services_wrapper
      padding: 20px 24px 0

      .services_content
        margin: 0

      .services_img
        display: none
  .benefits_list
    scroll-snap-type: x mandatory
    overflow-x: auto
    gap: 45px !important

    li
      flex: 1 0 25% !important
      scroll-snap-align: start

      img
        max-width: 100px
        max-height: 85px     
  .conditions
    padding-bottom: 30px

    .conditions_wrapper
      flex-direction: column
      gap: 0
      
      .emoji_box
        transform: translateY(-200%)

        img
          max-width: 72px
          height: auto
  .cooperation
    padding-bottom: 30px

    ul
      padding: 24px
      overflow-x: auto
      scroll-snap-type: x mandatory 
      justify-content: initial

      li
        scroll-snap-align: start

        img
          max-width: 100px
        
        p
          text-align: center

      li:nth-child(odd)
        flex: 0 0 75%
      li:nth-child(even)

          
    .btn-wrapper
      display: flex !important
  .more_expensive
    h2
      padding-bottom: 12px
    p
      padding: 12px 12px 24px
    
    
    .more_expensive_btn
      padding: 24px 12px
  .about_us
    padding: 30px 24px

    .about_us_wrapper
      flex-direction: column
      gap: 24px

      .img
        max-width: 122px
        height: auto
  .profite
    padding-bottom: 30px
    ul
      padding: 24px 24px 0
  .why_we
    padding: 30px 24px
    .why_we_wrapper
      flex-direction: column-reverse
  .trust_us
    padding-bottom: 30px
    .call
      padding-top: 30px

@media only screen and (max-width: 768px)
  .more_expensive
    .more_expensive_footer_wrapper
      flex-direction: column
      gap: 12px
      padding: 30px 24px
  .profite
    ul
      overflow-x: auto 
      scroll-snap-type: x mandatory
      li
        scroll-snap-align: start
        flex: 0 0 70%
        p
          text-align: center

        img
          max-width: 100px
  .issues
    .issues_wrapper
      flex-direction: column

@media only screen and (max-width: 480px)
  .default-styles
  h1
    font-size: 28px
  h2
    font-size: 28px
    max-width: 342px
    width: 100%
  h3
    font-size: 14px
  a
    font-size: 12px
  .contact_links
    .contact_link
      font-size: 10px
      font-weight: normal
      color: var(--Main_black)

  .header
    padding: 0 !important
    .menu_btn_sidenav
      padding: 25px 0 0 20px
    .logo_wrapper_naming
      span
        font-size: 10px

    .contacts_wrapper
      gap: 25px !important
      a
       font-size: 10px !important
       svg
        width: 15px
        height: 15px
  .banner
    .banner_list
      p
        text-wrap: balance
  .services
    .services_wrapper
      padding: 20px 10px
      .services_content
        h2
          text-align: left
        ul
          padding-left: 24px
          color: var(--Main_black)
  .benefits
    .container
      padding: 0
      h2
        text-align: left
        padding: 30px 0 0 24px
      ul
        margin: 36px 0 36px 24px !important
        li
          flex: 0 0 55% !important
  .calculate
    padding-bottom: 30px
    h2
      padding-top: 24px
      padding-bottom: 0
    .calculate_wrapper
      width: 100% !important
    .calc-row
      flex-direction: column      
      h5
        width: 100% !important
        padding-top: 24px
        font-size: 10px !important
      .calc-range
        width: 100% !important
  .cooperation
    h2
      text-align: left  
  .more_expensive
    p
      color: var(--Main_black)
    .button_group
      flex-direction: column
      gap: 10px !important

    .more_expensive_btn
      margin: 0 0 24px 0
    .more_expensive_footer_wrapper
      padding: 30px 10px !important
      h2
        text-align: left 
        font-size: 24px !important      
  .about_us
    padding: 30px 10px
    .about_us_wrapper
      .img
        background: var(--Light_Bg)
        max-width: 100%
        width: 100%
        border-radius: 20px
        img
          width: 112px
          height: auto
          padding: 24px 0
  .why_we
    padding: 30px 10px
    background: var(--Main_color)
    h2
      padding-top: 12px
      text-wrap: balance
    .img
      background: var(--Light_Bg)
      max-width: 100%
      width: 100%
      border-radius: 20px
      img
        width: 168px
        height: auto
        padding: 24px 0
    p
      text-align: left   
  .conditions
    .emoji_box
      img
        max-width: 50px !important
    .conditions_wrapper_content
      p
        color: var(--Main_black)
  .trust_us
    h2
      text-align: center 
      width: 100% !important
    p
      padding: 0 20px
  .why_we
    img
      max-width: 185px
  .profite
    padding: 0 0 0 25px
    .container
      padding: 0
      
    h2
      text-align: left
      text-wrap: balance
  .issues
    padding: 0 10px 30px 10px
    .issues_wrapper
      gap: 12px
    h2
     text-align: left 
  .trust_us
    .trust_us_content
      p
        color: var(--Main_black)   
  .call_me
    padding: 30px 0
  .footer
    .container-fluid
      padding: 0
    
    ul
      margin: 0
    .footer_wrapper
      .logo_wrapper
        gap: 12px
        justify-content: start
        padding-left: 12px 
        .logo
          flex: 0 0 15% !important
        .logo_wrapper_naming
          text-align: start
          justify-content: start

          img
            width: 100% 
          .social_wrapper
            display: none !important
      .menu_wrapper
        text-align: left
        ul
          padding: 0 20px 12px
          gap: 10px !important
          li
            padding-bottom: 8px
      .contact_wrapper
        svg
          width: 15px
          height: auto
        .phone-header
          font-weight: 500
        .mail-header
          .adress-header
            a
              font-weight: 200

          


