/* index-new */
:root {
  /* variable colors */
  --Light_gray: #EDEDF0;
  --Main_orange: #FD7F28;
  --Main_black: #272727;
  --Light_Bg: #f9f9f9;
  --Main_color: #fff;
  /* fonts */
  --fonts-quicksand: "Quicksand", sans-serif;
}

body {
  font-family: var(--fonts-quicksand);
  font-size: 14px;
  font-weight: normal;
  background: var(--Light_Bg);
}

a {
  text-decoration: none;
  color: transparent;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

h1 {
  font-size: 32px;
  font-family: var(--fonts-quicksand);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: initial !important;
  margin: 0 !important;
}

h2 {
  font-size: 32px;
  font-family: var(--fonts-quicksand);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: initial !important;
  margin: 0 !important;
}

h3 {
  font-family: var(--fonts-quicksand);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: initial !important;
  margin: 0 !important;
}

h4 {
  font-family: var(--fonts-quicksand);
  font-size: 16px;
  font-style: normal;
  font-weight: 500 !important;
  line-height: normal;
  text-transform: initial !important;
  margin: 0 !important;
}

.nj-h5 {
  font-family: var(--fonts-quicksand);
  font-size: 16px !important;
  font-style: normal;
  font-weight: 500;
  line-height: normal !important;
  margin: 0 !important;
}

h6 {
  font-family: var(--fonts-quicksand);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: initial !important;
  margin: 0 !important;
}

p {
  font-family: var(--fonts-quicksand);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal !important;
}

ul {
  padding: 0;
  margin: 0;
}

ul li::before {
  display: none;
}

section {
  background: var(--Main_color);
}

.flex {
  display: flex;
}

.img {
  width: 100%;
  height: -moz-fit-content !important;
  height: fit-content !important;
}

.orange-text {
  color: var(--Main_orange);
}

.bold-text {
  font-weight: 700;
}

.title {
  padding-top: 50px;
}

.btn-wrapper {
  display: block;
  margin: 0 auto;
}
.btn-wrapper button {
  width: -moz-fit-content;
  width: fit-content;
}

.btn-default {
  color: var(--White, #FFF);
  text-align: center;
  font-family: var(--fonts-quicksand);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  padding: 14px 24px;
  border-radius: 8px;
  background: var(--Main_orange);
}

.social_wrapper {
  flex-basis: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.social_wrapper li::before {
  display: none;
}

.social_wrapper a {
  width: 24px;
  height: 24px;
  background: var(--Main_orange);
  display: block;
  margin: auto;
  position: relative;
  border-radius: 10px;
}

.social_wrapper svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* header */
.header {
  padding: 15px 42px;
  background-color: var(--Light_gray);
}
.header a {
  text-decoration: none;
  font-weight: normal;
}
.header .header_navbar {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.header .header_navbar .logo {
  flex: 1 1 auto;
}
.header .header_navbar .logo_wrapper {
  display: flex;
  gap: 24px;
  align-items: center;
  font-size: 12px;
  text-align: left;
}
.header .header_navbar .logo-img {
  max-width: 100px;
  max-height: 94px;
  width: 100%;
  height: 100%;
}
.header .header_navbar .contacts_wrapper {
  flex: 0 0 45%;
  display: flex;
  align-items: center;
  gap: 42px;
  font-weight: 500 !important;
  font-size: 14px;
}
.header .header_navbar .contacts_wrapper a {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .header_navbar .contacts_wrapper a:first-child {
  padding-bottom: 8px;
}
.header .header_navbar .phone-header {
  margin: 0 !important;
}
.header .header_navbar .adress-header {
  display: flex;
  flex-direction: column;
}
.header .header_navbar .location_header {
  font-weight: 200 !important;
  font-size: 14px;
}

/* nav */
.nav-menu {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(--Main_orange);
}
.nav-menu .nav-menu__links {
  display: flex;
  gap: 1.16%;
  align-items: center;
  height: 100%;
  padding: 16px 42px;
  justify-content: center;
}
.nav-menu .nav-menu__links a {
  font-family: var(--fonts-quicksand);
  font-size: 14px;
  color: var(--Light_gray);
}

.banner .banner_wrapper {
  display: flex;
}
.banner .banner_img {
  flex: 0 1 50%;
}
.banner .banner_img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner .banner_contant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 1 50%;
  background: var(--Main_black);
  color: var(--Light_gray);
  padding: 30px 0;
}
.banner .banner_contant h2 {
  padding-bottom: 12px;
}
.banner .banner_contant h3 {
  padding-bottom: 32px;
}
.banner .banner_contant_wrapper {
  display: flex;
  flex-direction: column;
  padding: 8px 42px;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.banner .banner_contant_wrapper ul {
  display: flex;
  gap: 14px;
}
.banner .banner_contant_wrapper ul li p {
  text-align: left;
  font-size: 14px;
  color: var(--Light_gray);
}
.banner .banner_contant .btn-wrapper {
  margin: 24px 0 30px;
}
.banner .circle_done .circle_overline {
  background: orange;
  border-radius: 50%;
  display: flex;
  border: 2px solid white;
}

.services .services_wrapper {
  display: flex;
  padding: 42px 42px 0;
}
.services .services_content {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
  margin: 30px;
}
.services .services_content ul li {
  --fonts-quicksand: "Quicksand", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style: disc;
  text-align: start;
  padding-bottom: 10px;
}
.services .services_content p {
  text-align: left;
}
.services .services_img {
  flex: 0 1 50%;
}

.benefits {
  padding-bottom: 50px;
}
.benefits .benefits_list {
  display: flex;
  gap: 24px;
  margin: 36px 0px 36px 36px;
}
.benefits .benefits_list li {
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 22px;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background: var(--Light_Bg);
  border-radius: 8px;
}
.benefits .benefits_list li .img {
  height: -moz-fit-content !important;
  height: fit-content !important;
}
.benefits .benefits_list li h6 {
  margin: 20px;
  padding-bottom: 10px;
}
.benefits .benefits_list li p {
  font-size: 14px;
}

.conditions {
  padding-bottom: 50px;
}
.conditions h2 {
  padding-bottom: 36px;
}
.conditions .conditions_wrapper {
  display: flex;
  gap: 24px;
}
.conditions .conditions_wrapper .conditions_wrapper_img {
  flex: 0 1 45%;
  position: relative;
}
.conditions .conditions_wrapper .conditions_wrapper_img .emoji_box {
  display: flex;
  justify-content: space-around;
}
.conditions .conditions_wrapper .conditions_wrapper_content {
  flex: 1 0 45%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: left;
}
.conditions .conditions_wrapper .conditions_wrapper_content p {
  font-size: 14px;
}
.conditions .conditions_wrapper .btn-wrapper {
  margin: auto 0;
}

.cooperation {
  padding-bottom: 50px;
}
.cooperation ul {
  display: flex;
  justify-content: space-around;
  padding: 42px 42px 0;
}
.cooperation ul li p {
  font-size: 14px;
  padding-top: 24px;
}
.cooperation ul li .cooperation_arrow {
  width: 50px;
  height: 50px;
}
.cooperation ul li:nth-child(even) {
  display: flex;
  align-items: center;
}
.cooperation ul li:nth-child(odd) {
  padding: 24px;
  background: var(--Light_Bg);
  border-radius: 8px;
}
.cooperation .btn-wrapper {
  display: none;
}

.more_expensive {
  background: var(--Light_Bg);
}
.more_expensive h2 {
  padding-bottom: 36px;
}
.more_expensive p {
  max-width: 712px;
  width: 100%;
  margin: 0 auto;
  text-align: justify;
}
.more_expensive .more_expensive_btn {
  margin: 50px auto;
  max-width: 712px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--Main_color);
  background: var(--Main_color);
}
.more_expensive .more_expensive_btn h4 {
  color: var(--Main_orange);
  max-width: 712px;
  width: 100%;
  text-align: center;
  margin: 0 auto !important;
  padding-bottom: 24px;
}
.more_expensive .more_expensive_btn .button_group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 26px;
}
.more_expensive .more_expensive_footer {
  width: 100%;
  background: var(--Light_gray);
}
.more_expensive .more_expensive_footer .more_expensive_footer_wrapper {
  display: flex;
  padding: 50px 42px;
}
.more_expensive .more_expensive_footer .more_expensive_footer_wrapper h2 {
  flex: 0 0 50%;
  padding: 0;
}
.more_expensive .more_expensive_footer .more_expensive_footer_wrapper p {
  padding: 0;
}

.about_us {
  padding: 50px;
}
.about_us .about_us_wrapper {
  display: flex;
  align-items: center;
}
.about_us .about_us_wrapper .img {
  flex: 0 1 50%;
}
.about_us .about_us_wrapper .about_us_content {
  flex: 1 0 50%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: start;
}
.about_us .about_us_wrapper .about_us_content h2,
.about_us .about_us_wrapper .about_us_content p,
.about_us .about_us_wrapper .about_us_content span {
  text-align: left;
}

.why_we {
  padding: 50px 42px 30px;
  background: var(--Light_Bg);
}
.why_we .why_we_wrapper {
  display: flex;
}
.why_we .why_we_wrapper .why_we_content {
  flex: 1 0 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.why_we .why_we_wrapper .img {
  flex: 0 1 50%;
}

.profite {
  padding-bottom: 50px;
}
.profite ul {
  display: flex;
  gap: 24px;
  padding: 24px 0;
}
.profite ul li {
  flex: 1 1 20%;
  justify-content: center;
  align-items: center;
  background: var(--Light_Bg);
  border-radius: 8px;
  padding: 22px;
}
.profite ul li img {
  padding-bottom: 22px;
}
.profite ul li p {
  font-size: 14px;
}

.issues {
  padding-bottom: 50px;
}
.issues h2 {
  padding-bottom: 25px;
}
.issues .issues_wrapper {
  display: flex;
  gap: 24px;
}
.issues .issues_wrapper ul {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.issues .issues_wrapper li {
  display: grid;
  grid-template-columns: 30px 1fr;
  justify-items: start;
  align-items: center;
  padding: 12px;
  height: -moz-fit-content;
  height: fit-content;
  text-align: left;
  border: 1px solid var(--Light_gray);
  padding: 12px;
  border-radius: 8px;
  background: var(--Light_Bg);
  cursor: pointer;
  transition: 0.5s;
}
.issues .issues_wrapper li:hover {
  background: var(--Main_color);
  transition: 0.5s easy;
}
.issues .issues_wrapper li p {
  font-size: 14px;
  padding-top: 10px;
}
.issues .issues_wrapper li .accordeon {
  margin-left: 12px;
}
.issues .issues_wrapper li .accordeon_hide_elem {
  grid-column: 2;
  grid-row: 2;
  text-align: left;
  margin-left: 12px;
  display: none;
  transition: 0.5s ease-out;
  cursor: pointer;
}
.issues .issues_wrapper li.active .accordeon_hide_elem {
  display: block;
  transition: 0.5s ease-out;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

.trust_us {
  padding-bottom: 50px;
  background: var(--Light_Bg);
}
.trust_us h2 {
  padding-bottom: 24px;
}
.trust_us .trust_us_content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 736px;
  width: 100%;
  margin: 0 auto;
}
.trust_us .trust_us_content h3 {
  font-weight: 500;
}

.call_me {
  padding: 50px 0;
}
.call_me .call_wrapper {
  max-width: 712px;
  margin: 0 auto;
}

.footer {
  background: var(--Light_Bg);
  padding: 0;
}
.footer .footer_wrapper {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  padding: 48px 42px;
}
.footer .footer_wrapper .logo_wrapper {
  display: flex;
  align-items: start;
  gap: 24px;
  flex: 0 0 auto;
}
.footer .footer_wrapper .logo_wrapper .logo img {
  width: 100%;
}
.footer .footer_wrapper .logo_wrapper .logo_wrapper_naming {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer .footer_wrapper .logo_wrapper .social_wrapper {
  display: flex;
  justify-content: start;
}
.footer .footer_wrapper .logo_wrapper .social_wrapper svg {
  width: 100%;
}
.footer .footer_wrapper .menu_wrapper {
  display: flex;
  flex-direction: column;
}
.footer .footer_wrapper .menu_wrapper h6 {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--Main_orange);
}
.footer .footer_wrapper .menu_wrapper a {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: initial;
  color: var(--Main_black);
}
.footer .footer_wrapper .menu_wrapper .menu_list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.footer .footer_wrapper .contact_wrapper {
  display: flex;
  flex-direction: column;
}
.footer .footer_wrapper .contact_wrapper .flex {
  flex-direction: column;
}
.footer .footer_wrapper .contact_wrapper a {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
  font-weight: normal;
}
.footer .footer_wrapper .contact_wrapper .phone-header {
  display: flex;
  flex-direction: column;
}
.footer .footer_wrapper .button_group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer .footer_wrapper .social-for-mobile {
  display: none;
}
.footer .under_footer {
  background: var(--Light_gray);
}
.footer .under_footer p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 22px 40px;
  text-align: center;
  color: var(--Main_black);
}

.menu_btn {
  display: none;
  border-radius: 4px;
  background: var(--Light_Bg);
  width: 38px;
  height: 38px;
  padding: 8px;
}
.menu_btn span {
  width: 30px;
  height: 2px;
  background: var(--Main_black);
  display: block;
  position: relative;
}
.menu_btn span::before,
.menu_btn span::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--Main_black);
}
.menu_btn span::before {
  top: -10px;
}
.menu_btn span::after {
  bottom: -10px;
}

@media only screen and (max-width: 1350px) {
  .header {
    display: block;
    padding: 15px 0 0;
  }
  .banner h1 {
    padding-bottom: 12px;
  }
  .banner img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
}
@media only screen and (max-width: 1250px) {
  .header .header_navbar {
    flex-direction: column;
    padding: 15px 0 0;
  }
  .header .header_navbar .logo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 15px 15px;
  }
  .header .header_navbar .logo .logo_wrapper {
    gap: 0;
  }
  .header .header_navbar .logo img {
    width: 50px !important;
    height: 48px;
  }
  .header .header_navbar .logo .menu_btn {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  .header .contacts_wrapper {
    background: var(--Main_color);
    width: 100%;
    padding: 15px;
    justify-content: center;
    gap: 27px;
  }
  .header .contacts_wrapper a {
    font-size: 12px;
  }
  .header .social_wrapper {
    display: none;
  }
  .nav-menu {
    display: none;
  }
  .footer {
    padding: 0;
  }
  .footer .container {
    padding: 0;
    margin: 0;
  }
  .footer .footer_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "button_group" "logo_wrapper" "menu_wrapper" "contacts" "social-for-mobile";
    justify-content: center;
    padding: 0;
  }
  .footer .button_group {
    grid-area: "button_group";
    margin: 40px 0;
    align-items: center;
  }
  .footer .button_group button {
    width: -moz-fit-content;
    width: fit-content;
  }
  .footer .logo_wrapper {
    grid-area: logo_wrapper;
    align-items: center !important;
    background: var(--Light_gray);
    padding: 10px 0;
    justify-content: center;
  }
  .footer .logo_wrapper .logo {
    flex: 0 1 30%;
  }
  .footer .logo_wrapper img {
    width: 50% !important;
  }
  .footer .menu_wrapper {
    grid-area: menu_wrapper;
  }
  .footer .menu_wrapper h6 {
    opacity: 0;
  }
  .footer .menu_wrapper ul {
    padding: 0 20px 24px;
  }
  .footer .menu_wrapper ul li {
    border-bottom: 1px solid #EDEDF0;
  }
  .footer .menu_wrapper ul li:last-child {
    padding-bottom: 18px;
  }
  .footer .contact_wrapper {
    grid-area: contacts;
    background: var(--Light_Bg);
    padding: 10px 0;
  }
  .footer .contact_wrapper .flex {
    gap: 25px;
    justify-content: center;
    flex-direction: row !important;
  }
  .footer .social-for-mobile {
    display: flex !important;
    grid-area: social-for-mobile;
    background: var(--Light_gray);
    padding: 30px;
    justify-content: center;
  }
  .under_footer {
    background: var(--Main_black) !important;
  }
  .under_footer p {
    color: var(--Light_gray) !important;
  }
}
@media only screen and (max-width: 991px) {
  .title {
    padding-top: 30px;
  }
  .banner .banner_wrapper {
    flex-direction: column-reverse;
  }
  .banner h3 {
    padding-bottom: 0px !important;
  }
  .banner .banner_contant {
    padding: 30px 24px 0 24px;
  }
  .banner .banner_contant .banner_contant_wrapper {
    padding: 24px 0;
  }
  .services .services_wrapper {
    padding: 20px 24px 0;
  }
  .services .services_wrapper .services_content {
    margin: 0;
  }
  .services .services_wrapper .services_img {
    display: none;
  }
  .benefits_list {
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    gap: 45px !important;
  }
  .benefits_list li {
    flex: 1 0 25% !important;
    scroll-snap-align: start;
  }
  .benefits_list li img {
    max-width: 100px;
    max-height: 85px;
  }
  .conditions {
    padding-bottom: 30px;
  }
  .conditions .conditions_wrapper {
    flex-direction: column;
    gap: 0;
  }
  .conditions .conditions_wrapper .emoji_box {
    transform: translateY(-200%);
  }
  .conditions .conditions_wrapper .emoji_box img {
    max-width: 72px;
    height: auto;
  }
  .cooperation {
    padding-bottom: 30px;
  }
  .cooperation ul {
    padding: 24px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    justify-content: initial;
  }
  .cooperation ul li {
    scroll-snap-align: start;
  }
  .cooperation ul li img {
    max-width: 100px;
  }
  .cooperation ul li p {
    text-align: center;
  }
  .cooperation ul li:nth-child(odd) {
    flex: 0 0 75%;
  }
  .cooperation .btn-wrapper {
    display: flex !important;
  }
  .more_expensive h2 {
    padding-bottom: 12px;
  }
  .more_expensive p {
    padding: 12px 12px 24px;
  }
  .more_expensive .more_expensive_btn {
    padding: 24px 12px;
  }
  .about_us {
    padding: 30px 24px;
  }
  .about_us .about_us_wrapper {
    flex-direction: column;
    gap: 24px;
  }
  .about_us .about_us_wrapper .img {
    max-width: 122px;
    height: auto;
  }
  .profite {
    padding-bottom: 30px;
  }
  .profite ul {
    padding: 24px 24px 0;
  }
  .why_we {
    padding: 30px 24px;
  }
  .why_we .why_we_wrapper {
    flex-direction: column-reverse;
  }
  .trust_us {
    padding-bottom: 30px;
  }
  .trust_us .call {
    padding-top: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .more_expensive .more_expensive_footer_wrapper {
    flex-direction: column;
    gap: 12px;
    padding: 30px 24px;
  }
  .profite ul {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  .profite ul li {
    scroll-snap-align: start;
    flex: 0 0 70%;
  }
  .profite ul li p {
    text-align: center;
  }
  .profite ul li img {
    max-width: 100px;
  }
  .issues .issues_wrapper {
    flex-direction: column;
  }
}
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 28px;
    max-width: 342px;
  }
  h3 {
    font-size: 14px;
  }
  a {
    font-size: 12px;
  }
  .header .contacts_wrapper {
    gap: 25px !important;
  }
  .benefits h2 {
    text-align: left;
  }
  .benefits ul li {
    flex: 0 0 55% !important;
  }
  .cooperation h2 {
    text-align: left;
  }
  .more_expensive .button_group {
    flex-direction: column;
    gap: 10px !important;
  }
  .more_expensive .more_expensive_footer h2 {
    text-align: left;
  }
  .conditions .emoji_box img {
    max-width: 50px !important;
  }
  .why_we img {
    max-width: 185px;
  }
  .profite h2 {
    text-align: left;
  }
  .issues h2 {
    text-align: left;
  }
  .footer ul {
    margin: 0;
  }
  .footer .footer_wrapper .menu_wrapper {
    text-align: left;
  }
  .footer .footer_wrapper .menu_wrapper ul {
    gap: 10px !important;
  }
  .footer .footer_wrapper .menu_wrapper ul li:last-child {
    padding-bottom: 0px;
  }
}/*# sourceMappingURL=index-new.css.map */