/* index-new */
:root 
  /* variable colors */
  --Light_gray: #EDEDF0
  --Main_orange: #FD7F28
  --Main_black: #272727
  --Light_Bg: #f9f9f9
  --Main_color: #fff

  /* fonts */
  --fonts-quicksand: 'Quicksand', sans-serif

body
  font-family: var(--fonts-quicksand)
  font-size: 14px
  font-weight: normal
  background: var(--Light_Bg)
a
  text-decoration: none
  color: transparent

img
  width: 100%
  height: auto
  display: block
  margin: auto

h1
  font-size: 32px
  font-family: var(--fonts-quicksand)
  font-style: normal
  font-weight: 700
  line-height: normal
  text-transform: initial!important
  margin: 0!important
    
h2
  font-size: 32px
  font-family: var(--fonts-quicksand)
  font-style: normal
  font-weight: 700
  line-height: normal
  text-transform: initial!important
  margin: 0!important

h3
  font-family: var(--fonts-quicksand)
  font-size: 16px
  font-style: normal
  font-weight: 700
  line-height: normal 
  text-transform: initial!important
  margin: 0!important

h4
  font-family: var(--fonts-quicksand)
  font-size: 16px
  font-style: normal
  font-weight: 500 !important
  line-height: normal
  text-transform: initial !important
  margin: 0 !important

.nj-h5
  font-family: var(--fonts-quicksand)
  font-size: 16px !important
  font-style: normal
  font-weight: 500
  line-height: normal !important
  margin: 0 !important

h6
  font-family: var(--fonts-quicksand)
  font-size: 14px
  font-style: normal
  font-weight: 500
  line-height: normal
  text-transform: initial !important
  margin: 0 !important

p
  font-family: var(--fonts-quicksand)
  font-size: 14px !important
  font-style: normal
  font-weight: 400
  line-height: normal !important

ul
  padding: 0  
  margin: 0

ul li::before
  display: none  

section
  background: var(--Main_color)

.flex
  display: flex
    
.img
  width: 100%
  height: fit-content !important


.orange-text
  color: var(--Main_orange)

.bold-text
  font-weight: 700

.title
  padding-top: 50px  
  

.btn-wrapper
  display: block
  margin: 0 auto

  button
    width: fit-content

.btn-default
  color: var(--White, #FFF)
  text-align: center
  font-family: var(--fonts-quicksand)
  font-size: 12px
  font-style: normal
  font-weight: 600
  line-height: normal
  letter-spacing: 0.36px
  text-transform: uppercase
  padding: 14px 24px
  border-radius: 8px
  background: var(--Main_orange)


/* header */
.header
  padding: 0

.header a 
  text-decoration: none
  font-weight: normal
  

.header_navbar
  display: flex
  padding: 15px 28px
  align-items: center
  background-color: var(--Light_gray)

.logo
  flex: 1 1 auto  

.logo_wrapper
  display: flex
  gap: 24px
  align-items: center
  font-size: 12px
  text-align: left

.logo-img
  max-width: 100px
  max-height: 94px
  width: 100%
  height: 100%

.contacts_wrapper
  flex: 0 0 45%
  display: flex
  align-items: center
  gap: 42px
  font-weight: 500 !important
  font-size: 14px

.contacts_wrapper a
  display: flex
  align-items: center
  gap: 10px

.contacts_wrapper a:first-child
   padding-bottom: 8px

.phone-header
  margin: 0 !important


.adress-header
  display: flex
  flex-direction: column

.location_header
  font-weight: 200 !important
  font-size: 14px

.social_wrapper
  flex-basis: 15%
  display: flex
  align-items: center
  justify-content: flex-end
  gap: 8px

.social_wrapper li::before
  display: none

.social_wrapper a     
   width: 24px
   height: 24px
   background: var(--Main_orange)
   display: block
   margin: auto
   position: relative
   border-radius: 10px

.social_wrapper svg
   position: absolute
   left: 50%
   top: 50%
   transform: translate(-50%, -50%)

/* nav */
.nav-menu
  font-size: 14px
  font-style: normal
  font-weight: 700
  line-height: normal


  .nav-menu__links
   display: flex
   gap: 20px
   align-items: center
   height: 100%
   padding: 16px 42px
   background: var(--Main_orange)

   a
    font-family: var(--fonts-quicksand)
    font-size: 14px
    color: var(--Light_gray)
  
//section-banner
.banner
  .banner_wrapper
    display: flex

  .banner_img
    flex: 0 1 50%

    img
      height: 100%

  .banner_contant
    flex: 0 1 50%
    background: var(--Main_black)
    color: var(--Light_gray)
    padding: 30px 0

    h2
      padding-bottom: 12px

    h3   
      padding-bottom: 32px

    &_wrapper
      display: flex
      flex-direction: column
      padding: 8px 42px
      justify-content: center
      align-items: flex-start
      gap: 24px
      align-self: stretch

      ul
        display: flex
        gap: 14px

        li

          p
            text-align: left
            font-size: 14px
            color: var(--Light_gray)
        

    .btn-wrapper
        margin: 24px 0 30px

  .circle_done
    .circle_overline
      background: orange
      border-radius: 50%
      display: flex
      border: 2px solid white

//section-services
.services
  
  .services_wrapper
    display: flex
    padding: 42px 42px 0

  .services_content  
    flex: 1 1 50%
    display: flex
    flex-direction: column
    align-items: start
    gap: 24px
    margin: 30px

    ul

      li
        --fonts-quicksand: "Quicksand", sans-serif
        font-size: 14px
        font-style: normal
        font-weight: 400
        line-height: normal
        list-style: disc
        text-align: start
        padding-bottom: 10px

    p
      text-align: left

  .services_img
    flex: 0 1 50%

//section-benefits
.benefits
  padding-bottom: 50px

  .benefits_list
    display: flex
    gap: 24px
    margin: 36px 0px 36px 36px

    li
      flex: 0 0 18%
      display: flex
      flex-direction: column
      text-align: left
      gap: 22px
      justify-content: flex-start
      align-items: center
    
      .img
        height: fit-content !important

      h6 
        margin: 20px

      p
        font-size: 14px

//section-conditions
.conditions 

  padding-bottom: 50px

  h2
    padding-bottom: 36px

  .conditions_wrapper
    display: flex
    gap: 24px

    .conditions_wrapper_img
      flex: 0 1 45%
      position: relative

      .emoji_box
        display: flex
        justify-content: space-around

        
    .conditions_wrapper_content
      flex: 1 0 45%
      display: flex
      flex-direction: column
      gap: 24px
      text-align: left

      p
        font-size: 14px
    
    .btn-wrapper
      margin: auto 0

  //section-conditions

//section-cooperation
.cooperation
  padding-bottom: 50px
  
  ul
    display: flex
    justify-content: space-around
    padding: 42px 42px 0

    li
      p
        font-size: 14px
        padding-top: 24px
      .cooperation_arrow
        width: 50px
        height: 50px

    li:nth-child(even)
      display: flex
      align-items: center

  .btn-wrapper
    display: none
    
//section-expensive
.more_expensive

  h2
    padding-bottom: 36px
  
  p
    max-width: 712px
    width: 100%
    margin: 0 auto
    text-align: justify
    padding-bottom: 60px

  .more_expensive_btn
    padding-bottom: 74px
    
    h4
      color: var(--Main_orange)
      max-width: 712px
      width: 100%
      text-align: center
      margin: 0 auto !important
      padding-bottom: 24px

    .button_group  
      display: flex
      align-items: center
      justify-content: center
      gap: 26px

  .more_expensive_footer
    // width: 100%
    // background: var(--Light_gray)
    .more_expensive_footer_wrapper
      display: flex
      padding: 50px 42px
      background: var(--Light_gray)

      h2
        flex: 0 0 50%
        padding: 0

      p
        padding: 0

//section-about_us
.about_us
  padding: 50px

  .about_us_wrapper
    display: flex
    align-items: center

    .img
      flex: 0 1 50%
    
    .about_us_content
      flex: 1 0 50%
      display: flex
      flex-direction: column
      gap: 24px
      align-items: start

      h2,
      p,
      span
        text-align: left
       
//section-why_we
.why_we
  padding: 50px 42px 30px

  .why_we_wrapper
    display: flex

    .why_we_content
      flex: 1 0 50%
      text-align: left
      display: flex
      flex-direction: column
      gap: 14px

    .img
      flex: 0 1 50% 

//section-profit
.profite
  padding-bottom: 50px
  ul
    display: flex
    padding: 24px 42px 0

    li
      flex: 1 1 20%
      gap: 24px
      justify-content: center
      align-items: center

      img
        padding-bottom: 22px

//section-issues
.issues
  padding-bottom: 50px

  h2
    padding-bottom: 25px

  .issues_wrapper
    display: flex
    gap: 24px

    ul
      flex: 0 1 50%
      display: flex
      flex-direction: column
      gap: 12px

    li
      display: grid
      grid-template-columns: 30px 1fr
      justify-items: start
      align-items: center
      padding: 12px
      height: fit-content
      text-align: left

      border: 1px solid var(--Light_gray)
      padding: 12px
      border-radius: 8px


      .accordeon
         margin-left: 12px

      .accordeon_hide_elem
        grid-column: 2
        grid-row: 2
        text-align: left
        margin-left: 12px


    





//section-trust_us
.trust_us
  padding-bottom: 50px
  
  h2
    padding-bottom: 24px

  .trust_us_content
    display: flex
    flex-direction: column
    gap: 12px
    max-width: 736px
    width: 100%
    margin: 0 auto

  .call
    padding-top: 100px 
    max-width: 736px
    width: 100%
    margin: 0 auto

    h3
      font-weight: 500

// footer
.footer
  background: var(--Light_Bg)
  padding: 0

  .footer_wrapper
    display: flex
    align-items: start
    justify-content: space-between
    padding: 48px 42px

    .logo_wrapper
      align-items: start
      gap: 24px
      flex: 0 0 auto


      .logo img
        width: 100%

      .logo_wrapper_naming
        display: flex
        flex-direction: column
        gap: 24px
      
      .social_wrapper
        justify-content: start
      
    .menu_wrapper
      display: flex
      flex-direction: column

      h6
        font-size: 14px
        font-style: normal
        font-weight: 700
        line-height: normal
        color: var(--Main_orange)

      a
        font-size: 14px
        font-style: normal
        font-weight: 700
        line-height: normal
        text-transform: initial
        color: var(--Main_black)

      .menu_list
        display: flex
        flex-direction: column
        gap: 4px

    .contact_wrapper
      display: flex
      flex-direction: column
      
      a
        display: flex
        align-items: center
        gap: 10px
        margin-bottom: 8px

      .phone-header
        display: flex
        flex-direction: column

    .button_group
      display: flex
      flex-direction: column
      gap: 8px

    .social-for-mobile
      display: none


  .under_footer
    background: var(--Light_gray)

    p
      font-size: 14px
      font-style: normal
      font-weight: 400
      line-height: normal
      padding: 22px 40px
      text-align: center
      color: var(--Main_black)

//burger
.menu_btn
  display: none
  border-radius: 4px
  background: var(--Light_Bg)
  width: 38px
  height: 38px
  padding: 8px

  span
    width: 30px 
    height: 2px 
    background: var(--Main_black)
    display: block
    position: relative

    
  span::before,
  span::after 
    content: ''
    position: absolute
    left: 0
    width: 100%
    height: 2px
    background: var(--Main_black)


  span::before 
    top: -10px 
  
  span::after 
    bottom: -10px



// калькулятор
// .irs-line 
//   background: linear-gradient(0deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 100%), #FD7F28 !important

@media only screen and (max-width: 1350px)
  .header
    display: block

  .banner
    h1
      padding-bottom: 12px
    img
      object-fit: cover


@media only screen and (max-width: 1250px)
  .header 
      .header_navbar
        flex-direction: column
        padding: 15px 0 0

        .logo
          display: flex
          width: 100%
          justify-content: space-between
          align-items: center
          padding: 0 15px 15px 15px

          .logo_wrapper
            gap: 0 

          img
            width: 50px !important
            height: 48px

          .menu_btn
            display: flex
            align-items: center

      .contacts_wrapper
        background: var(--Main_color)
        width: 100%
        padding: 15px
        justify-content: center

      .social_wrapper 
        display: none

  .nav-menu
    display: none

  .footer
    padding: 0

    .container
      padding: 0
      margin: 0

    .footer_wrapper
      display: grid
      grid-template-columns: 1fr
      grid-template-areas: "button_group" "logo_wrapper" "menu_wrapper" "contacts" "social-for-mobile"
      justify-content: center
      padding: 0

    .button_group
      grid-area: "button_group"
      margin: 40px 0
      align-items: center

      button
        width: fit-content
      
    .logo_wrapper
      grid-area: logo_wrapper
      align-items: center !important
      background: var(--Light_gray)
      padding: 10px 0
      justify-content: center

      .logo
        flex: 0 1 30%

      img
        width: 50% !important

      .social_wrapper
        display: none

    .menu_wrapper
      grid-area: menu_wrapper

      h6
        opacity: 0

      ul  
        padding: 0 20px 24px
        li
          border-bottom: 1px solid #EDEDF0
        
        li:last-child
          padding-bottom: 18px

    .contact_wrapper
      grid-area: contacts
      background: var(--Light_Bg)
      padding: 10px 0


      .flex
        gap: 25px
        justify-content: center

    .social-for-mobile
      display: flex !important
      grid-area: social-for-mobile
      background: var(--Light_gray)
      padding: 30px
      justify-content: center

  .under_footer
    background: var(--Main_black) !important
    p
      color: var(--Light_gray) !important

    
@media only screen and (max-width: 991px)
  .title 
    padding-top: 30px
  .banner

    .banner_wrapper
      flex-direction: column-reverse

    h3
      padding-bottom: 0px !important 

    .banner_contant
      padding: 30px 24px 0 24px

      .banner_contant_wrapper
        padding: 24px 0

  .services

    .services_wrapper
      padding: 20px 24px 0

      .services_content
        margin: 0

      .services_img
        display: none

  .benefits_list
    scroll-snap-type: x mandatory
    overflow-x: auto
    gap: 45px !important

    li
      flex: 1 0 25% !important
      scroll-snap-align: start

      img
        max-width: 100px
        max-height: 85px
      
.conditions
  padding-bottom: 30px

  .conditions_wrapper
    flex-direction: column
    gap: 0
    
    .emoji_box
      transform: translateY(-200%)

      img
        max-width: 72px
        height: auto

.cooperation
  padding-bottom: 30px

  ul
    padding: 24px
    overflow-x: auto
    scroll-snap-type: x mandatory 
    justify-content: initial

    li
      scroll-snap-align: start

      img
        max-width: 100px
      
      p
        text-align: center

    li:nth-child(odd)
      flex: 0 0 75%
    li:nth-child(even)

        
  .btn-wrapper
    display: flex

.more_expensive
  h2
    padding-bottom: 12px
  p
    padding: 12px 12px 24px
  
  
  .more_expensive_btn
    padding: 24px 12px
  
.about_us
  padding: 30px 24px

  .about_us_wrapper
    flex-direction: column
    gap: 24px

    .img
      max-width: 122px
      height: auto

.profite
  padding-bottom: 30px
  ul
    padding: 24px 24px 0


.why_we
  padding: 30px 24px
  .why_we_wrapper
    flex-direction: column-reverse

.trust_us
  padding-bottom: 30px
  .call
    padding-top: 30px

@media only screen and (max-width: 768px)
  .more_expensive
    .more_expensive_footer_wrapper
      flex-direction: column
      gap: 12px
      padding: 30px 24px
  .profite
    ul
      overflow-x: auto 
      scroll-snap-type: x mandatory
      li
        scroll-snap-align: start
        flex: 0 0 70%
        p
          text-align: center

        img
          max-width: 100px
  .issues
    .issues_wrapper
      flex-direction: column

@media only screen and (max-width: 480px)
  h1
    font-size: 28px
  h2
    font-size: 28px
    max-width: 342px
  h3
    font-size: 14px
  p
    font-size: 12px
  a
    font-size: 12px

  .benefits
    h2
      text-align: left
    ul
      li
        flex: 0 0 55% !important
  .cooperation
    h2
      text-align: left
  .more_expensive
    .button_group
      flex-direction: column
      gap: 10px !important

    .more_expensive_footer
      h2
        text-align: left
  .why_we
    img
      max-width: 185px
  .profite
    h2
      text-align: left
  .issues
    h2
     text-align: left
  .footer
    ul
      margin: 0
    .footer_wrapper
      .menu_wrapper
        text-align: left
        ul
          gap: 10px !important
          li:last-child
            padding-bottom: 0px