@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**********Additional style*************************************/
*, *::after, *::before {
  box-sizing: border-box;
}

/**********SCROLL OFF*************************************/
::-webkit-scrollbar {
  width: 0;
  background: rgba(255, 255, 255, 0);
}

body {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.1em;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1.12em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.75em;
}

.invisible {
  display: none !important;
}

.visible {
  display: block !important;
}

ul {
  list-style: none;
  margin: 5% 0 5% 45%;
  font-size: 1.3em;
  color: #666666;
}
ul li::before {
  content: "•";
  color: #fd7f28;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

section {
  text-align: center;
}
section h1, section h2, section h3, section h4, section h5, section h6 {
  margin: 35px 0 25px 0;
  font-weight: 600;
  text-transform: uppercase;
}
section p {
  color: #616161;
  font-size: 1.1em;
}

.block {
  text-align: right;
  padding: 3%;
}
.block p {
  color: #ffffff;
  font-size: 1.2em;
}
.block strong {
  color: #0f0f0f;
}

.orange {
  background: #fd7f28;
}

.yellow {
  background: #ffcd8c;
}

.white {
  background: #ffffff;
}

.grey {
  background: #e7e7e7;
}

.butt {
  background: #fd7f28;
  text-align: center;
  padding: 5%;
  font-size: 1.3em;
  color: #ffffff;
  text-transform: uppercase;
  margin: 120px auto;
  width: 50%;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.butt:hover {
  color: #e2e2e2;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  background: #974219;
}

header {
  padding: 5px;
  font-size: 1.2em;
}
header a {
  color: black;
  text-decoration: underline;
}
header i {
  color: #fd7f28;
}
header span {
  color: #fd7f28;
}
header .logo {
  text-align: right;
}
header .logo img {
  width: 50%;
}
header .phone-header {
  font-size: 1.5em;
  font-weight: 600;
}
header .adress-header {
  text-align: left;
}
header .social {
  line-height: 3em;
  text-align: center;
}
header .social i {
  color: #fd7f28;
}
header .social i:hover {
  color: #974219;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

/*---------MAIN MENU---------------------*****/
.active {
  position: relative !important;
}
.active:after {
  width: 90% !important;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2px;
  z-index: 150;
}

.main-menu {
  background: #272727;
  padding: 5px;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
.main-menu a:hover {
  text-decoration: none;
}

.menu {
  text-align: center;
  position: relative;
}

.phone {
  display: none;
  position: absolute;
  color: #ffffff;
  font-size: 1.7em;
}

.menu__icon {
  display: none;
  width: 45px;
  height: 35px;
  position: relative;
  cursor: pointer;
}
.menu__icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 70%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  z-index: 1001;
}
.menu__icon span:nth-child(1) {
  top: 5px;
}
.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
  top: 18px;
}
.menu__icon span:nth-child(4) {
  top: 31px;
}

.menu__links-item {
  position: relative;
  display: inline-block;
  color: #ffffff !important;
  font-size: 1.2em;
  line-height: 2.4em;
  padding: 0 15px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.menu__links-item:after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background: #ffffff;
  bottom: 10%;
  left: 5%;
}
.menu__links-item:hover:after {
  position: absolute;
  content: "";
  width: 90%;
  height: 2px;
  background: #ffffff;
  bottom: 10%;
  left: 5%;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.menu.menu_state_open .menu__icon span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}
.menu.menu_state_open .menu__icon span:nth-child(2) {
  transform: rotate(45deg);
}
.menu.menu_state_open .menu__icon span:nth-child(3) {
  transform: rotate(-45deg);
}
.menu.menu_state_open .menu__icon span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}
.menu.menu_state_open .menu__links {
  display: block;
}

/*--------------- section-top ----------- */
.section-top {
  background: url("../img/mainpic.jpg");
  padding: 0;
}
.section-top .row {
  position: relative;
}
.section-top .col-md-3, .section-top .col-md-4, .section-top .col-md-6 {
  padding: 0;
}
.section-top h1 {
  font-size: 3.4em;
  text-align: right;
  color: white;
  padding: 3%;
}
.section-top h1 strong {
  font-size: 0.5em;
  background: #000000;
  color: white;
  text-transform: none;
  padding: 5px;
}

.calc {
  text-transform: uppercase;
  background: #e7e7e7;
  padding: 20px;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 100;
}
.calc .header {
  font-size: 1.1em;
  margin: 10px 0;
}
.calc .header:nth-of-type(1) {
  font-size: 1.5em;
  font-weight: 600;
}
.calc .header:nth-of-type(2) {
  text-transform: initial;
  margin-top: 25px;
}
.calc .header:nth-of-type(3) {
  text-transform: initial;
  margin-top: 25px;
}
.calc hr {
  height: 2px;
  background: #dedede;
}
.calc .summa {
  font-size: 1.2em;
}
.calc .sum {
  text-align: right;
  color: #3679b3;
}
.calc label {
  display: inline-block;
  font-weight: 500;
  margin: 30px 15px 0 0;
}

.section-advantage h1 {
  text-align: left;
}
.section-advantage img {
  width: 50%;
  margin: 10% 25%;
}
.section-advantage img:hover {
  -webkit-animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  perspective: 1000px;
}

.section-cooperation {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  padding-bottom: 0;
}
.section-cooperation .butt {
  padding: 2%;
  font-size: 1.2em;
}
.section-cooperation .calc {
  width: 90%;
  margin: 0 5%;
  position: relative;
}
.section-cooperation ul {
  text-align: left;
}
.section-cooperation .col-md-4, .section-cooperation .col-md-6 {
  padding: 0;
}
.section-cooperation .col-md-4 .block, .section-cooperation .col-md-6 .block {
  padding-left: 40%;
  text-align: left;
}
.section-cooperation .col-md-4 .block p, .section-cooperation .col-md-6 .block p {
  color: #000000;
}

.pict {
  background: url("../img/pic1.jpg") no-repeat;
  background-position: right;
  background-size: 50% 100%;
}

.section-process {
  border-bottom: 1px solid #bcbcbc;
}
.section-process img {
  margin: 10% 25%;
  width: 50%;
}
.section-process img:hover {
  -webkit-animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  perspective: 1000px;
}
.section-process p {
  text-transform: uppercase;
  text-align: left;
}
.section-process p::after {
  content: "→";
  position: absolute;
  top: 35%;
  right: 0;
  color: #000000;
}
.section-process .none:after {
  content: none;
}

.section-profit strong {
  color: black;
}
.section-profit p {
  text-align: left;
  font-size: 1.5em;
}
.section-profit ul {
  text-align: left;
  margin: 0;
}

.section-prof {
  background: url("../img/pic2.jpg") no-repeat;
  background-position: left;
  background-size: 50% 100%;
  padding: 0;
}
.section-prof .col-md-6 {
  padding: 0;
}
.section-prof p {
  text-align: left;
  padding: 2% 3%;
}
.section-prof .block {
  height: 3em;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  line-height: 2em;
}
.section-prof strong {
  display: inline-block;
  margin-top: 5%;
  color: black;
}
.section-prof h2 {
  padding: 0 3%;
}
.section-prof ul {
  margin: 5% 15%;
  text-align: left;
}

.section-about {
  padding: 0;
  background: url("../img/pic3.png") no-repeat #eeeeee;
  background-size: 25%;
  background-position: 65% -20%;
}
.section-about .container-fluid {
  background: url("../img/pic3-1.png") no-repeat;
  background-size: 15%;
  background-position: 85% 100%;
}
.section-about ul {
  text-align: left;
}

.section-economy p {
  text-align: left;
}
.section-economy span {
  display: inline-block;
  margin-top: 35px;
  font-size: 2.5em;
  color: #fd7f28;
}

.section-chugun img:nth-of-type(1) {
  width: 45%;
  float: left;
  padding-right: 25px;
  position: relative;
}
.section-chugun img:nth-of-type(2) {
  width: 45%;
  float: right;
  padding-left: 25px;
}
.section-chugun ul {
  margin: 0 auto;
}
.section-chugun ul li {
  margin: 5px;
  padding: 1%;
}
.section-chugun ul li:before {
  content: "";
}
.section-chugun ul li:nth-of-type(1) {
  background: #FF9900;
}
.section-chugun ul li:nth-of-type(2) {
  background: #FFCC00;
}
.section-chugun ul li:nth-of-type(3) {
  background: #FFCC33;
}
.section-chugun ul li:nth-of-type(4) {
  background: #CC9900;
}
.section-chugun ul li:nth-of-type(5) {
  background: #CC9933;
}

.section-last .yellow {
  padding: 2% 0;
  text-transform: uppercase;
}
.section-last .yellow p {
  text-align: center;
}
.section-last img {
  width: 60%;
}
.section-last img:hover {
  -webkit-animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  perspective: 1000px;
}
.section-last strong {
  color: black;
}
.section-last span {
  display: inline-block;
  margin-top: 35px;
  font-size: 2.5em;
  color: #fd7f28;
}
.section-last .pict {
  background: url("../img/pic4.jpg") no-repeat;
  background-position: right;
  background-size: 50% 100%;
}

.form-inline {
  margin-top: 35px;
}

.form-control, .btn {
  display: block;
  font-size: 1.1em;
  width: 100% !important;
  text-align: center;
  margin-top: 25px;
  height: 50px;
}
.form-control::-moz-placeholder, .btn::-moz-placeholder {
  font-weight: lighter;
  text-transform: uppercase;
}
.form-control:-ms-input-placeholder, .btn:-ms-input-placeholder {
  font-weight: lighter;
  text-transform: uppercase;
}
.form-control::placeholder, .btn::placeholder {
  font-weight: lighter;
  text-transform: uppercase;
}

.btn {
  background: #fd7f28;
  width: 50%;
  text-transform: uppercase;
}
.btn:hover {
  background: #974219;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.overlay-callback {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  display: none;
  background: rgba(0, 0, 0, 0.7);
  z-index: 250;
}
.overlay-callback #success-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffcd8c;
  z-index: 251;
  padding: 2%;
  color: #000000;
  text-align: center;
  font-size: 1.3em;
  display: none;
}
.overlay-callback #form-callback {
  z-index: 1002;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffcd8c;
  padding: 1% 1%;
  text-align: center;
  color: #000000;
  display: none;
  width: 20%;
}
.overlay-callback #form-callback h3 {
  margin: 0;
}
.overlay-callback #form-callback h4 {
  margin-bottom: 50px;
  color: white;
}

.closemodal {
  display: block;
  z-index: 35;
  position: absolute;
  right: 1%;
  top: 3%;
  width: 36px;
  height: 36px;
  opacity: 0.7;
  transition: transform 0.5s ease-in-out;
}
.closemodal::after {
  content: "";
  position: absolute;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 28px;
  height: 0;
  border-top: 1px solid #000000;
  transform: rotate(-45deg);
  transform-origin: center;
}
.closemodal::before {
  content: "";
  position: absolute;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 28px;
  height: 0;
  border-top: 1px solid #000000;
  transform: rotate(45deg);
  transform-origin: center;
}
.closemodal:hover {
  transform: rotate(180deg);
  opacity: 0.8;
  /*transform: scale(1.4)*/
  cursor: pointer;
}

footer {
  padding: 50px 0;
  background: #e7e7e7;
}
footer .social a {
  color: #fd7f28;
}
footer .social i {
  font-size: 1.2em;
}
footer .social i:hover {
  color: #974219;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
footer img {
  width: 50%;
}
footer ul {
  margin: 0;
}
footer ul li {
  line-height: 1.6;
  text-transform: uppercase;
}
footer ul li:first-child {
  color: black;
  font-weight: 600;
}
footer ul li::before {
  content: none;
}
footer a {
  color: black;
}
footer .butt {
  font-size: 1em;
  padding: 1%;
  width: 50%;
  margin: 3% 0;
}
footer .butt a {
  color: #ffffff;
}
footer .butt a:hover {
  text-decoration: none;
}

.section-demontazh {
  padding: 0 0 50px 0;
}
.section-demontazh img {
  width: 50%;
}
.section-demontazh img:nth-of-type(1) {
  width: 30%;
  float: left;
  padding-right: 25px;
}
.section-demontazh img:nth-of-type(2) {
  width: 47%;
  float: right;
  padding-left: 25px;
}

.section-zvet {
  padding: 0 0 50px 0;
}
.section-zvet img:nth-of-type(1) {
  width: 45%;
  float: left;
  padding-right: 25px;
}
.section-zvet img:nth-of-type(2) {
  width: 30%;
  float: right;
  padding-left: 25px;
}
.section-zvet img:nth-of-type(3) {
  width: 40%;
  float: left;
  padding-right: 25px;
}
.section-zvet span {
  color: #fd7f28;
  font-size: 2.5em;
  text-align: center;
  display: block;
  padding: 5% 0;
}

.table-responsive {
  margin-top: 20px;
  font-size: 1.2em;
}

.section-metalloprokat-bu p {
  text-align: center;
}
.section-metalloprokat-bu img {
  margin: 10% 0;
  width: 90%;
  box-shadow: 1px 1px 10px #4d4d4d;
}
.section-metalloprokat-bu img:hover {
  transition: 0.3s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: scale(1.1);
}

.section-price {
  padding-bottom: 100px;
}
.section-price a {
  cursor: pointer;
}
.section-price .calc {
  position: static;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.16), 2px 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.section-price img {
  width: 45%;
  float: left;
  padding-right: 25px;
}

.slog {
  display: inline-block;
  margin: 100px 0;
  text-align: center;
  font-size: 2.2em;
  color: #fd7f28;
}

.section-vyvoz {
  padding-bottom: 100px;
}
.section-vyvoz hr {
  margin-top: 70px;
}
.section-vyvoz ul {
  margin: 0;
}
.section-vyvoz h3 {
  font-size: 1.5em;
}
.section-vyvoz img:nth-of-type(1) {
  width: 45%;
  float: left;
  padding-right: 25px;
}
.section-vyvoz img:nth-of-type(2) {
  width: 45%;
  float: right;
  padding-left: 25px;
}

.section-contact .col-md-12 {
  padding: 0;
}
.section-contact .adress {
  margin: 10px;
  font-size: 1.2em;
}
.section-contact span {
  color: #fd7f28;
  text-align: center;
  display: block;
  padding: 5% 0;
}
.section-contact a {
  color: black;
}

#map {
  height: 450px;
  width: 100%;
}

.social-block {
  display: none;
  padding: 0 4px;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 40%;
  left: 0;
  font-size: 1.8em;
  z-index: 150;
  border-bottom-right-radius: 17px;
}
.social-block a {
  cursor: pointer;
}

.error-p {
  position: relative;
}

.error-ch {
  padding: 10%;
  text-align: center;
  font-size: 3em;
}

/* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 2.5em !important;
  }
  p {
    text-align: justify;
  }
  header {
    display: none;
  }
  nav .menu {
    text-align: right !important;
  }
  nav .menu a {
    color: #ffffff;
  }
  nav .menu .phone {
    display: block !important;
  }
  nav .menu .phone i {
    color: #fd7f28;
  }
  nav .menu__icon {
    display: inline-block;
  }
  nav .menu__links {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    overflow: auto;
  }
  nav .menu__links-item {
    display: block;
    padding: 4px 0;
    text-align: center;
    color: #ffffff;
  }
  .calc {
    position: relative;
  }
  .butt {
    width: 90%;
  }
  .section-cooperation .calc {
    width: 100%;
    margin: 0;
  }
  .section-cooperation ul {
    margin: 15%;
  }
  .orange, .yellow, .white {
    padding: 10px !important;
  }
  .pict {
    background-position: bottom;
    background-size: 100% 20%;
  }
  .section-process p {
    text-align: center;
  }
  .section-process p::after {
    content: "";
  }
  .section-prof {
    background: none;
  }
  .section-prof p {
    text-align: justify;
  }
  .section-about {
    padding: 0;
    background: url("../img/pic3.png") no-repeat #eeeeee;
    background-size: 35%;
    background-position: 115% 0%;
  }
  .section-about .container-fluid {
    background-size: 45%;
    background-position: 95% 100%;
  }
  .section-about ul {
    margin: 5% 15%;
    text-align: left;
  }
  .section-economy p {
    text-align: justify;
  }
  .section-last .pict {
    background: none;
  }
  .section-last p strong {
    margin-top: 35px;
    display: inline-block;
    text-align: center;
  }
  .section-price .col-md-5 {
    padding: 0;
  }
  .overlay-callback #form-callback {
    width: 90%;
    padding: 25px 10px;
  }
  .overlay-callback #success-message {
    width: 90%;
  }
  .overlay-callback .form-control, .overlay-callback .btn {
    margin-top: 20px;
  }
  footer {
    text-align: center;
  }
  footer ul {
    margin: 10% 0;
    font-size: 1em;
  }
  footer .social {
    font-size: 2.5em;
  }
  footer .butt {
    width: 90%;
    margin: 5%;
  }
  .social-block {
    display: block;
  }
  .section-zvet img:nth-of-type(1) {
    width: 100%;
    float: none;
    padding: 0;
  }
  .section-zvet img:nth-of-type(2) {
    width: 100%;
    float: none;
    padding: 0;
  }
  .section-zvet img:nth-of-type(3) {
    width: 100%;
    float: none;
    padding: 0;
  }
  .section-metalloprokat-bu img {
    width: 100%;
  }
  .section-demontazh .slog, .section-vyvoz .slog, .section-price .slog {
    margin: 25px 0;
  }
  .section-demontazh hr, .section-vyvoz hr, .section-price hr {
    margin: 25px 0;
  }
  .section-demontazh img:nth-of-type(1), .section-vyvoz img:nth-of-type(1), .section-price img:nth-of-type(1) {
    width: 100%;
    float: none;
    padding-right: 0;
  }
  .section-demontazh img:nth-of-type(2), .section-vyvoz img:nth-of-type(2), .section-price img:nth-of-type(2) {
    width: 100%;
    float: none;
    padding-left: 0;
  }
}/*# sourceMappingURL=main.css.map */